# sample config for provided docker-compose and Mosquitto configs

# Postgres database URL (including username, password, database name)
DATABASE_URL="postgres://postgres:postgres@postgres:5432/pluto-coordinator"

# MQTT broker credentials
MOSQUITTO_PASSWORD="coordinator"
MOSQUITTO_HOST="mosquitto"
MOSQUITTO_PORT=1883

# X25519 keypair for encryption and authentication (base64-encoded)
COORDINATOR_PUBKEY=""
COORDINATOR_PRIVKEY=""
