name: Build coordinator Dockerfile

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: cp .env.example .env && docker build . --file Dockerfile --tag my-image-name:$(date +%s)
